/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import './modern-normolize.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #525e65; */
  /* color: white; */
}

a:hover {
  cursor: pointer;
  color: #0a58ca;
}

a {
  text-decoration: none;
  /* color: black;
  opacity: 0.75; */
}

li {
  list-style: none;
}
ul {
  margin-bottom: 0;
}

.link {
  color: black;
  opacity: 0.75;
}

.link:hover {
  color: #e4a36f;
}

.link-header {
  color: white;
}

.link-header:hover {
  color: #e4a36f;
}
.link-white {
  color: white;
}

.link-white:hover {
  color: #e4a36f;
}

@media screen and (max-width: 767px) {
  .link-header {
    font-size: 20px;
  }
}

@media screen and (max-width: 750px) {
  .excursions {
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 751px) and (max-width: 1200px) {
  .excursions {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.excursion-atribute {
  padding-top: 35px;
  padding-bottom: 35px;
}

@media screen and (max-width: 750px) {
  .excursion-atribute li {
    margin-top: 25px;
  }
}

@media screen and (min-width: 751px) {
  .excursion-atribute {
    display: flex;
    justify-content: space-around;
  }
}

.logo {
  width: 100px;
  margin: 0 25px;
}

@media screen and (min-width: 751px) {
  .logo {
    width: 120px;
  }
}

.some {
  color: #d1314c;
}

.order-button {
  bottom: 20px;
}

@media screen and (min-width: 751px) {
  .order-button {
    bottom: 60px;
  }
}
.fgkll {
  color: #ebba92;
}
