/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import './modern-normolize.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #525e65; */
  /* color: white; */
}

a:hover {
  cursor: pointer;
  color: #0a58ca;
}

a {
  text-decoration: none;
  /* color: black;
  opacity: 0.75; */
}

li {
  list-style: none;
}
ul {
  margin-bottom: 0;
}

.link {
  color: black;
  opacity: 0.75;
}

.link:hover {
  color: #0a58ca;
}

.link-white {
  color: white;
}

.link-white:hover {
  color: #e4a36f;
}
